---
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard" class="pb-12 pt-40 lg:pb-24 lg:pt-72">
    <div class="grid grid-cols-1 items-start gap-y-8 lg:grid-cols-4">
      <Text tag="p" variant="textXS" class="uppercase tracking-wide text-base-600 dark:text-base-300 lg:col-start-2">
        Master's student & hobbyist programmer
      </Text>
      <Text
        tag="h1"
        variant="displayLG"
        class="text-left font-semibold leading-snug tracking-tighter text-base-900 dark:text-white lg:col-span-2 lg:col-start-3"
      >
        My research focuses on online exploration. I also enjoy programming as a hobby.
      </Text>
    </div>
  </Wrapper>
</section>
